body{
    background-color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.i {
    color: greenyellow;
}

header {
    background-color: rgb(22, 0, 117);
}

.u {
    height: 100px;
    margin: 10px 0px 10px 40%;
}

h1 {
    text-align: center;
    font-size: 50px;
}

main {
    background-color: black;
    color: white;
}

p {
    font-size:20px;
}

footer {
    background-color: rgb(22, 0, 117);
    color: white;
    padding: 7px;
    border-radius:7px;
}

h1, h2 {
    border: 5px dotted rgb(244, 244, 244);
    margin: 5px;
    padding: 7px;
    border-radius:7px;
}

h2 {
    text-align: center;
}

p img {
    height: 60px;
}

.img_boss {
    height: 100px;
}

table {
    border-collapse: collapse;
}

tr {
    border: 1px dashed white;
}

.island {
    border: 5px dotted white;
    margin: 5px;
    padding: 5px;
    border-radius: 7px;
    text-align: center;
}

h3{
    text-align: center;
}
h2{
    background-color: rgb(22, 0, 117);
}
