body {
    font-family: sans-serif;
    background-color: #ccb98e;
}
header a {
    color: black;
    background-color: white;
    font-size: 34px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 6px;
    margin: 15px;
    
}
.icons1{
   height: 80px;
   width: 80px;
}
main{
    font-family: sans-serif;
    font-size: 18px;
}
.p1{
    text-align: center;
    font-size: 30px;
    background-color: #92783a;
    color: #EACF63;
    font-style: bold;
    }
    .icons2{
    height: 69px;
    width: 69px;
    }
    .icons3{
    height: 30px;
    width: 30px;
    }
    .p2{
    text-align: center;
    font-size: 30px;
    background-color: #92783a;
    color: #EACF63;
    }
    .jpg1{
    width: 400px;
    margin-left: 38%;
    }
    .jpg2{
 height: 300px;
    width: 380px;
    
    }
    .iconsend {
    height: 70px;
    width: 70px;
    }
    table 
    {text-align: center;
    font-size: 20px;
    background-color: #EACF63; 
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 20px;
}
td {
    border: 1px solid black;
    }
    .news{
   background-color: #dba100;
   border: 1px solid #dba100; 
}
.p3{
    font-size: 30px;
    border-bottom:20px dotted #EACF63;
}
.a1{
    padding: 5px;
    margin-top: 10px;
}
